<div class="toolbar" role="banner">
    <mat-icon aria-hidden="false" class="home_icon" aria-label="Example home icon">home</mat-icon>
    <h2 class="logo">eShop</h2>
      <div class="spacer"></div>
      <div class="example-button-row">
        <button mat-button class="login_btn">LOGIN</button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="settings_icon">settings</mat-icon>
      </div>
    
    </div>
    <div class="icons_bg">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="list_icon">list</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="user_icon">person</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="cart_icon">shop</mat-icon>
    </div>