<div  class="ddBack" > 
    <div class="dropdown dropdownblock">
        <mat-form-field appearance="outline">
            <mat-label>categories</mat-label>
             <mat-select  (selectionChange)="changeClient($event.value)">
             <mat-option *ngFor="let x of categories" [value]="x" >{{x}}</mat-option>
            </mat-select>
          </mat-form-field>
      <button (click)="cclick()" class="btnarw">
          <mat-icon class="arwicon"  aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
        </button> 
    </div>
  </div>
  