<div style="background-color: lightseagreen; width: 100%; padding: 10px 0px;">
    <div class="dropdown dropdownblock">
      <mat-form-field>
        <mat-label>Brand</mat-label>
        <mat-select placeholder="All">
          <mat-option>One</mat-option>
          <mat-option>Two</mat-option>
          <mat-option>Three</mat-option>
          <mat-option>Four</mat-option>
          <mat-option>Five</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select placeholder="All">
          <mat-option>One</mat-option>
          <mat-option>Two</mat-option>
          <mat-option>Three</mat-option>
          <mat-option>Four</mat-option>
          <mat-option>Five</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Favorite food" name="foods" [(value)]="selectedFood">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-icon style="color:white;  background-color: #07D307; padding: 10px;" aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
    </div>
  </div>
  