.pagenation_text {
  margin: 2% 0 3% 0;
}
.mat-card-tile{
    height:50%;
    overflow:visible;
    text-align: center;
    position: absolute;
    width: auto;
    height: auto;
  }
  .mat-grid-tile {
    overflow: visible;
  }
  .mat-grid-tile-div{
    display:block;
    margin:0;
    width: 90%;
    position: relative;
    overflow: visible;
  }
  .product{
    max-width: 80%;
    margin: 0px auto; 
    display: block;
    width: 100%;
  }
  .img{
    margin: auto;
    width: 80%;
    height: 230px;
  }
  .mat-grid_img {
    display:block;
    width:100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6%;
    right: 0;
    height: 10%;
    width: 10%;
    opacity: 0;
    transition: .3s ease;
    opacity: 0;
  }
  
  .overlay:hover  {
    opacity: 1;
    display: block;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.spacer {
flex: 1;
}
.m-l-20{
  margin-left: 10em;
}
.addtocart_button {
    display: block; 
    margin: 10px auto; 
    padding: 0px 35px; 
    background-color:#c1e88d
    ; 
    color:white
  }
  p {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
  }
  .text_bold {
    font-weight: bold;
  }
  .price {
    font-size: 1.5em;
    text-align: center; 
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
   }
  @media screen and (max-width: 575px) {
    svg#rocket-smoke, .login_btn {
      display: none;
      visibility: hidden;
    }

    .mat-grid-tile-div, .mat-grid_img{
      width: 100%;
      margin-top: 35px;
      margin-top: 50px;
    }

  .mat-card-tile {
    width: 100%;
    display: block;
    margin: 20px auto;
    border: 0px ;
    position: relative;
    text-align: center;
  }
  .icons_bg, .settings_icon {
    display: block;
    visibility: visible;
  }
  .toolbar {
    position: relative;
  }

  .list_icon {
    margin: 0px 10px;
  }

  .user_icon {
    margin-left: 4em;
  }

  .cart_icon {
    margin-left: 5em;
  }
  .hide {
   visibility: hidden;
   display: none;
  }
}
@media screen and (max-width: 480px) {
 

  .mat-grid-tile-div, .mat-grid_img{
    width: 100%;
    margin-top: 35px;
  }
  .img{
    height: 205px;
  }
.mat-card-tile {
  width: 100%;
  display: block;
  margin: 20px auto;
  border: 0px ;
  position: relative;
  text-align: center;
}
.icons_bg, .settings_icon {
  display: block;
  visibility: visible;
}


.list_icon {
  margin: 0px 10px;
}

.user_icon {
  margin-left: 4em;
}

.cart_icon {
  margin-left: 5em;
}
.hide {
 visibility: hidden;
 display: none;
}
}

    
