.mat-card-tile{
    height:50%;
    overflow:visible;
    text-align: center;
  }
  .mat-grid-tile-div{
    display:block;
    margin:0px 0px;
  }
  .mat-grid-tile-div img{
    display:block;
    width:100%;
  }
.spacer {
flex: 1;
}
.addtocart_button {
    display: block; 
    margin: 10px auto; 
    padding: 0px 35px; 
    background-color:#00FF80; 
    color:white
  }
  p {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
  }
  .text_bold {
    font-weight: bold;
  }
  .price {
    font-size: 1.5em;
    margin-bottom: 35px;
    text-align: center; 
  }
  
  @media screen and (max-width: 575px) {
    svg#rocket-smoke, .login_btn {
      display: none;
      visibility: hidden;
    }
  .mat-card-tile {
    width: 100%;
    display: block;
    margin: 20px auto;
    border: 0px ;
    position: relative;
    text-align: center;
  }
  .icons_bg, .settings_icon {
    display: block;
    visibility: visible;
  }
  .toolbar {
    position: relative;
  }

  .list_icon {
    margin: 0px 10px;
  }

  .user_icon {
    margin-left: 4em;
  }

  .cart_icon {
    margin-left: 5em;
  }

}

    
