<div style="max-width: 1080px; margin: 0px auto; display: block; width: 100%;">
    
  <h3 align="center" class="text_bold">Showing 10 of 12 Products<span><button mat-button class="text_bold">Next</button></span></h3>
  
  <mat-grid-list [cols]="breakpoint" rowHeight="2:2" (window:resize)="onResize($event)">
    <mat-grid-tile><div class="mat-grid-tile-div"><img mat-card-image src="assets/Images/.Net.jpg" class="mat-grid-tile-div img">
        <button mat-raised-button class="addtocart_button">[ADD TO CART]</button>
        <p>.Net Black & white mug.</p>
        <p class="price">$8.5</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile><div class="mat-grid-tile-div"><img mat-card-image src="assets/Images/.net2.jpg" class="mat-grid-tile-div img">
        <button mat-raised-button class="addtocart_button">[ADD TO CART]</button>
        <p>.Net Black & white mug.</p>
        <p class="price">$8.5</p>
      </div></mat-grid-tile>
    <mat-grid-tile><div class="mat-grid-tile-div"><img mat-card-image src="assets/Images/.Nettshirt.jpg" class="mat-grid-tile-div img">
        <button mat-raised-button class="addtocart_button">[ADD TO CART]</button>
        <p>.Net Black & white mug.</p>
        <p class="price">$8.5</p>
      </div></mat-grid-tile>
    
  </mat-grid-list>
</div>